webservicebyaxis/src/WebService1.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebServiceServerService" targetNamespace="http://webservice1/">
<wsdl:types>
<xs:schema xmlns:tns="http://webservice1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://webservice1/" version="1.0">
<xs:element name="getHello1" type="tns:getHello1"/>
<xs:element name="getHello1Response" type="tns:getHello1Response"/>
<xs:element name="getHello2" type="tns:getHello2"/>
<xs:element name="getHello2Response" type="tns:getHello2Response"/>
<xs:element name="getServerName" type="tns:getServerName"/>
<xs:element name="getServerNameResponse" type="tns:getServerNameResponse"/>
<xs:complexType name="getHello1">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getHello1Response">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getServerName">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getServerNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getHello2">
<xs:sequence>
<xs:element minOccurs="0" name="yourname" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getHello2Response">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="getHello2Response">
<wsdl:part element="tns:getHello2Response" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getHello1Response">
<wsdl:part element="tns:getHello1Response" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getHello1">
<wsdl:part element="tns:getHello1" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getHello2">
<wsdl:part element="tns:getHello2" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getServerName">
<wsdl:part element="tns:getServerName" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="getServerNameResponse">
<wsdl:part element="tns:getServerNameResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="IWS_Server">
<wsdl:operation name="getHello1">
<wsdl:input message="tns:getHello1" name="getHello1"></wsdl:input>
<wsdl:output message="tns:getHello1Response" name="getHello1Response"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="getServerName">
<wsdl:input message="tns:getServerName" name="getServerName"></wsdl:input>
<wsdl:output message="tns:getServerNameResponse" name="getServerNameResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="getHello2">
<wsdl:input message="tns:getHello2" name="getHello2"></wsdl:input>
<wsdl:output message="tns:getHello2Response" name="getHello2Response"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="WebServiceServerServiceSoapBinding" type="tns:IWS_Server">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getHello1">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getHello1">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getHello1Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getServerName">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getServerName">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getServerNameResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getHello2">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getHello2">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getHello2Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="WebServiceServerService">
<wsdl:port binding="tns:WebServiceServerServiceSoapBinding" name="WebServiceServerPort">
<soap:address location="http://localhost:8091/WebService/Server1"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>